<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
<!--    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>-->
</head>
<body>

<p>Hello World</p>

<a href="/goodbye">Say goodbye</a>

<p th:text="${message}"></p>

<table>
    <tr>
        <th>IMEI</th>
        <th>HW</th>
        <th>SW</th>
    </tr>
    <tr th:each = "device : ${devices}">
        <td th:text = "${device.imei}"></td>
        <td th:text = "${device.hw}"></td>
        <td th:text = "${device.sw}"></td>
    </tr>
</table>

</body>
</html>
